In [55]:
import requests
import os
import sys
import pandas as pd
from typing import Optional
import dotenv
import glob
from IPython.display import display
# Add the parent directory of this notebook to sys.path
notebook_dir = os.path.dirname(os.path.abspath('__file__'))
parent_dir = os.path.dirname(notebook_dir)
sys.path.append(parent_dir)

from scripts import parse_json
from importlib import reload
import datetime
import json
from tqdm import tqdm
import matplotlib.pyplot as plt
%matplotlib inline
dotenv.load_dotenv()    
print('dotenv loaded')
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', 100)

# Suppress dateutil parser warning
import warnings
warnings.filterwarnings('ignore', category=UserWarning)

dotenv loaded

# example usage of the InteractionStats class

In [56]:
reload(parse_json)
file_path = '../data/data.json'
instat = parse_json.InteractionStats(file_path)


interaction_daily_num = instat.get_interaction_daily_num_bytype('comments')
interaction_daily_sum = instat.calculate_interaction_daily_sum()
aggregate_monthly_sum = instat.calculate_aggregate_monthly_sum()
instat.save_monthly_interaction_totals('monthly_interaction_totals.csv')


print("\nInteractions DataFrame:")
display(instat.interactions_df)

print("\nDaily interaction numbers by type (comments):")
print(interaction_daily_num)

print("\nDaily interaction sum:")
print(interaction_daily_sum)

print("\nMonthly aggregate sum:")
print(aggregate_monthly_sum)

Interactions DataFrame:

  interaction_type     date         author  daily_interaction_number  month
0         comments   2/3/21  Justin Bieber                         5  02/21
1         comments   5/4/21      Lady Gaga                         6  05/21
2         comments   5/4/21      Snoop Dog                         2  05/21
3         comments  13/5/21  Justin Bieber                         3  05/21

Daily interaction numbers by type (comments):
{'13/5/21': 3, '2/3/21': 5, '5/4/21': 8}

Daily interaction sum:
{'13/5/21': 3, '2/3/21': 5, '5/4/21': 8}

Monthly aggregate sum:
{'comments': {'02/21': 5, '05/21': 11}, 'posts': {}}